body{
  font-family: Arial, Helvetica, sans-serif;
}
input{
  height: 20px;
  width: 250px;
}
table{
  width: 100%; 
  border-collapse: collapse; 
  margin: 1px 0; 
}
th, td {
  padding: 5px; 
  text-align: center; 
  border: 2px solid #000000;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: larger; 
}